div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.box{
  position: relative;
  color: white;
  width:210px;
  height:210px; 
  box-sizing: border-box;
 }  

.h_img{
    width:200px;
    height:200px;
    margin: 5px;
    border: solid 2px rgb(43, 42, 42);
}
.centered{
  font-size: medium;
  position: absolute;     
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%); 
  text-align: center;
}
h1{
  display: flex;
  align-items: center;
  justify-content: left;
  text-align: left;
  width:800px;
  height:10px; 
  padding:10px
}